body {
  font-family: sans-serif;
}

.modal-open {
  background-color: rgba(0, 0, 0, 0.7);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.height {
  height: 12rem;
}

.height100 {
  height: 100vh;
}

.position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  text-align: center;
}

.modal-padding {
  padding: 0.5rem;
}

.modal-margin {
  margin: 0.5rem 1.5rem;
}

.modal-submit {
  float: right;
}

.modal-width {
  width: 35rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}

textarea {
  width: 100%;
}

.justify-between {
  justify-content: space-between;
}

.week-day-box{
  border: 2px solid #000000;
  margin: 1em;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  align-items: center;
}

.flex-basis-7 {
  flex-basis: calc(100%/7);
}

a {
  text-decoration: none;
  color: #000000;
}
